.nav-container {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #33B5E5;
    padding: 20px 200px;
}

.nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

h1 {
    color: #000;
}
 
a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}